// .ContainTop
//   // padding: padding-size
//   display: grid;
//   grid-template-columns:  100%;
//   grid-template-rows:  50% 50%;
//   row-gap: 10px;
//   column-gap: 10px;


.ContainBottom
  // padding: padding-size
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:  50% 50%;
//   column-gap: 2%;
//   row-gap: 4%;


