@import 'Variables'

ul {
list-style: none; 
padding: 0; 
font: font-size-normal
}

.Header
  background-color: secondary
  padding: 1px 2px
  display: grid
  grid-template-columns: 15% 35% 50%;
 

div.Image-profile
  height: 7rem
  width: 7rem
  margin: 1rem 2rem 1rem 3rem
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;

.Article
  margin: 1rem 2rem

.Header-title
  font: font-size-title
  margin: 0

.Header-job-title
  font: font-size-normal
  margin: 0 0 12px 0

.Header-info
  display: flex
  align-content: space-between
  flex-wrap: wrap

.Header-phone
  margin: margin-info

.Header-email 
  margin: margin-info

.Header-website
  margin: margin-info

.Header-adress
  margin: margin-info
