@import 'Variables'


.Profile
  background-color: primary
  margin: 1rem 0 0 0
  padding: 1px 2px




.Profile-title
  padding: padding-size
  font font-size-title


.Profile-desc
  margin-top: 4px
  font: font-size-normal
