@import 'Variables'

// .Container
//   // padding: padding-size
//   display: grid;
//   grid-template-columns:  50%;
//   row-gap: 15px;
//   column-gap: 10px;

.Skills
  background-color: primary
  margin: 1rem 0 0 1px
  padding: 1px 2px


.Skills-title
  font: font-size-title

.Skills-item
  font: font-item-normal