// Fonts
font-size-title = 2rem Arial
font-size-normal = 1rem Arial

// Margin and Paddings
padding-size = 1px 0 1px 0
margin-info = 0 8px 0 0

//Colors 
primary = rgba(90, 220, 120, 0.4)
secondary = rgba(90, 120, 220, 0.4)